<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'UPDATE_USER_INFO.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">{{ 'UPDATE_USER_INFO.NAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="displayName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'UPDATE_USER_INFO.EMAIL' | translate }}</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'UPDATE_USER_INFO.CURRENT_PASSWORD' | translate }}</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'UPDATE_USER_INFO.NEW_PASSWORD' | translate }}</ion-label>
      <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'UPDATE_USER_INFO.LANGUAGE' | translate }}</ion-label>
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event.detail.value)">
        <ion-select-option value="es">{{ 'REGISTER.SPANISH' | translate }}</ion-select-option>
        <ion-select-option value="en">{{ 'REGISTER.ENGLISH' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="updateUser()">
    {{ 'UPDATE_USER_INFO.BUTTON' | translate }}
  </ion-button>

  <ion-button expand="block" routerLink="/home" color="medium">
    ⬅ {{ 'LOGIN.TITLE' | translate }}
  </ion-button>
</ion-content>
