<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'REGISTER.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Campos de registro -->
  <ion-item>
    <ion-label position="floating">{{ 'REGISTER.NAME' | translate }}</ion-label>
    <ion-input [(ngModel)]="nombre" [disabled]="isLoading"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ 'REGISTER.EMAIL' | translate }}</ion-label>
    <ion-input type="email" [(ngModel)]="email" [disabled]="isLoading"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">{{ 'REGISTER.PASSWORD' | translate }}</ion-label>
    <ion-input type="password" [(ngModel)]="password" [disabled]="isLoading"></ion-input>
  </ion-item>

  <!-- Selección de idioma -->
  <ion-list>
    <ion-radio-group [(ngModel)]="idioma" (ionChange)="changeLanguage($event.detail.value)" [disabled]="isLoading">
      <ion-list-header>
        <ion-label>{{ 'REGISTER.LANGUAGE' | translate }}</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>{{ 'REGISTER.SPANISH' | translate }}</ion-label>
        <ion-radio value="es"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'REGISTER.ENGLISH' | translate }}</ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <!-- Botón de registrar -->
  <ion-button expand="block" (click)="register()" [disabled]="isLoading || !email || !password || !nombre">
    <ion-spinner *ngIf="isLoading" slot="start"></ion-spinner>
    {{ 'REGISTER.BUTTON' | translate }}
  </ion-button>

  <!-- 🔹 Texto para ir a Login -->
  <div class="ion-text-center" style="margin-top: 15px;">
    <p>
      {{ 'REGISTER.ALREADY_ACCOUNT' | translate }}
      <a routerLink="/login">{{ 'LOGIN.TITLE' | translate }}</a>
    </p>
  </div>

</ion-content>
